/* .picdiv {
    width: 500px;
} */
.font1{
    font-family: 'PT Sans Narrow', sans-serif;
}
.font2{
    font-family: 'DM Sans', sans-serif;
}
.nav1{
    display: flex;
    justify-content: end;
    padding-right: 0px;
    width: 100%;
}
.navi{
    margin: 10px -60px;
    justify-content: right;
    text-align: right;
}
/* @media screen and (max-width: 600px) {
    .navi a{
      float: none;
      width: 100%;
    }
  } */

#background1{
    background-image: url("../img/IMG_5402.JPEG");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    top: 100;
}
.parallax{
    display: flex;
    justify-content: center;
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.parallax2{
    display: flex;
    min-height: 400px;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}



@media screen and (max-width: 800px) {
    .cont {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.box1{
    height: 600px;;
    width: 600px;
    color: red;
}

/* Carousel */
.car1{
    width: 1400px;
    justify-content: flex-end;
}

.picRow{
    height: 500px;
    background-color: aqua;
}
.picRow2{
    background-color: aqua;
}
.picCol{
    height: 700px;
    width: 500px;
    background-color: aqua;
}
.box3{
    height: 300px;
    width: 250px;
    background-color: red;
}
.box4{
    height: 300px;
    width: 250px;
    background-color: blue;
}
/* Background Image For Photo Section on about page */
.bk2{
    background-image: url("../img/IMG_1004.JPG");
    background-size: 150% 100%;
    background-repeat: no-repeat;
}
.con2{
    margin-top: 750px;
}
.web:hover{
    opacity: 40%;
}
.hobbies{
    width: 100%;
    height: auto;
}
.footer1{
    display: flex;
    height: 100px;
}
.footer2{
    display: flex;
    height: 70px;
}
.footerwidth {
    width: 100%;
}
@media screen and (max-width: 600px) {
    .footer1{
      width: 100%;
    }
  }
  @media screen and (max-width: 1370px) {
    .aboutme{
    flex-direction: column;
    width: 100%;
    }
  }
  @media screen and (max-width: 632px) {
    .aboutmepic{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
  @media screen and (max-width: 832px) {
    .carousel-section{
        flex-direction: column;
        width: 100%;
    }
  }
@media screen and (max-width: 520px) {
    .footercolumn{
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1000px) {
    .footercolumn2{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ytmargin {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 700px) {
    .picdiv {
        width: 500px;
    }
}

  @media screen and (max-width: 632px) {
    .footer1{
        flex-direction: column;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        object-fit: contain;
        /* border: solid;
        border-color: black; */
    }
    .footerdiv {
        display: flex;
        flex-direction: row;
        /* justify-self: center; */
        align-content: center;
        justify-content: center;
        width: 100%;
    }
  }
.colum{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* carousel image height/width */
.carry {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 632px) {
    .left_bottom{
        margin-top: 40px;
        order: 2; /*reorder to bottom*/
        width: 100%; /*make full width*/
    }
    .right_top{
        order: 1; /*reorder to top*/
        width: 100%; /*make full width*/
    }
  }
